{% extends 'base.html' %}

{% block content %}
<h1>Приятного аппетита:-)</h1>
<h2>{{ category.category_name }}</h2>
       <ul>
    {% for recipe in recipes %}
    <li>
        <h2><a href="{% url 'one_recipe' recipe.id %}">{{ recipe.recipe_name }}</a></h2><p>{{ recipe.recipe_description }}</p>
        {% if recipe.food_image %}
        <p><img src="{{recipe.food_image.url}}" alt="Изображение блюда" width="300"></p>
        {% endif %}
        {% if not forloop.last %}
        <hr>
        {% endif %}
    </li>
    {% endfor %}
</ul>
<a href="{% url 'show_categories' %}">Назад к категориям рецептов</a><br><br>
{% include 'clients_recipes/includes/to_all_recipes.html' %}
{% include 'clients_recipes/includes/to_index.html' %}
{% endblock %}